<div id="top">
<div style="float: left;padding-left: 50px;">
    <a href="/"  class="topfont">视频列表</a>&nbsp;&nbsp;|&nbsp;
    <a href="/yzxmanage/list_code/"  class="topfont">代码走查</a>&nbsp;&nbsp;|&nbsp;
{#    <a href="/yzxmanage/add_log/"  class="topfont">工作日志</a>&nbsp;&nbsp;|&nbsp;#}
{#    <a href="/yzxmanage/list_log/"  class="topfont">工作日志列表</a>&nbsp;&nbsp;|&nbsp;#}
    <a href="/newslist"  class="topfont">正在投票列表</a>&nbsp;&nbsp;|&nbsp;
    <a href="/toupiao/endnewslist/"  class="topfont">已结束投票列表</a>&nbsp;&nbsp;|&nbsp;

    {% if user.is_staff %}
    <a href="/adminlogin/"  class="topfont">后台管理</a>&nbsp;&nbsp;|&nbsp;
    <a href="/yzxmanage/list_code_checker/"  class="topfont">代码走查分配</a>&nbsp;&nbsp;|&nbsp;
    <a href="/yzxmanage/list_movie/"  class="topfont">视频管理</a>&nbsp;&nbsp;|&nbsp;
    {% endif %}
</div>

    {% if user.is_authenticated %}
        <span class="topfont">{{ user.first_name }}</span>&nbsp;<span class="topfont">{{ user.depate.name }}</span>&nbsp;<span class="topfont">|</span>&nbsp;<span class="topfont"><a href="/toupiao/repassword/">修改密码</a></span>&nbsp;<span class="topfont">|</span>&nbsp;<a href="/accounts/logout/"  class="topfont">退出</a>&nbsp;&nbsp;
    {% else %}
        <a href="/accounts/login/"  class="topfont">登录</a>&nbsp;&nbsp;&nbsp;
    {% endif %}
&nbsp;&nbsp;&nbsp;
</div>
<div id="top_tihuan"><a name="top"></a></div>

