{% extends "basepage/basepage.html" %}

{% block title %}
    <title>{{ subject.title }}投票——神州浩天工会 </title>
{% endblock  %}
{% block content %}
<script type="text/javascript">
    function submitForm(){

        $j("#form1")[0].submit();
    }

</script>
    <div class="con_center" >
    <form id="form1" action="/toupiao/toupiaoPage/" method="post">
        <table id="jianli_table" class="table0 bigtable tdpadding tablemargin" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr >
                <td align="left" colspan="3">
                    <b>投票：{{ subject.title }}</b><input type="hidden" name="subjectid" value="{{ subject.id|default_if_none:"" }}">

                </td>

            </tr>
            <tr>
                <td align="center" style=" height: 130px ">

                    您已经完成投票。<a href="/toupiao/toupiaoResult/?subjectid={{ subject.pk }}" class="commit_btn" >投票结果</a>
                </td>

            </tr>

        </table>
    </form>

    </div>




{% endblock  %}