{% extends "basepage/basepage.html" %}

{% block title %}
    <title>{{ subject.title }}投票——依子轩管理 </title>
{% endblock  %}
{% block content %}
<script type="text/javascript">
    function submitForm(){

        $j("#form1")[0].submit();
    }

</script>
    <div class="con_center" >
    <form id="form1" action="/toupiao/toupiaoPage/" method="post">
        <table id="jianli_table" class="table0 bigtable tdpadding tablemargin" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr >
                <td align="left" colspan="3">
                    <b>错误！</b><input type="hidden" name="subjectid" value="{{ subject.id|default_if_none:"" }}">

                </td>

            </tr>
            <tr>
                <td align="center" style=" height: 130px ">


                    {% ifequal type 'quanxian' %}
                        <p>您没有权限做此操作。</p><p><a href="/accounts/login/" class="commit_btn">登录</a></p>
                    {% endifequal %}

                </td>

            </tr>

        </table>
    </form>

    </div>




{% endblock  %}