{% extends "basepage/basepage.html" %}
{% block title %}
        <title>代码走查</title>
{% endblock  %}
{% block content %}
<script type="text/javascript">
    function submitForm(){

        $j("#form1")[0].submit();
    }

</script>
     <div class="con_center" >

            <div style="width: 100%;">
            <table class="tablemargin" width="100%" height="100%" border="0" cellspacing="0"
                			cellpadding="0">


            <tr>
                <td valign="top">
                <form id="form1" action="/yzxmanage/update_code/" method="post">
            <table id="worklist" class="table0 tdpadding" width="100%" cellpadding="0" cellspacing="0" border="0">
{#                <tr >#}
{#                <td width="50px" align="center"  >#}
{#                        序号#}
{#                    </td>#}
{#                    <td align="center" >#}
{#                        视频#}
{#                    </td>#}
{#                    <td width="170px" align="center" >#}
{#                        时间#}
{#                    </td>#}
{##}
{#                </tr>#}
                <tr>
                    <td align="center" colspan="3" >{{ today }}&nbsp;星期{{ day }}&nbsp;代码走查</td>
                </tr>
                {% for user in userlist%}
                <tr>
                    <td align="center" style="width: 20px;" >{{ forloop.counter }}</td>
                    <td class="btn" colspan="2"  >{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td align="btn"  colspan="3" >

                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 0 %} checked="checked" {% endifequal %} value="0"><label>无代码</label>
                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 1 %} checked="checked" {% endifequal %} value="1"><label>1分(代码注释不到10%)</label>
                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 2 %} checked="checked" {% endifequal %} value="2"><label>2分(代码注释不到30%)</label>
                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 3 %} checked="checked" {% endifequal %} value="3"><label>3分(代码注释不到80%)</label>
                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 4 %} checked="checked" {% endifequal %} value="4"><label>4分(代码注释不到100%)</label>
                        <input type="radio" style="width: 20px;margin-left: 20px;" name="{{ user.pk }}_num" {% ifequal user.num 5 %} checked="checked" {% endifequal %} value="5"><label>5分(代码注释非常完美)</label>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td align="center" colspan="3"><a href="#" onclick="submitForm()"  class="commit_btn" >保存</a>{% csrf_token %} </td>
                </tr>
            </table>
                </form>
            </td>
            </tr>
            </table>
            </div>
    </div>

<script type="text/javascript">
    senfe("worklist","#f6f6f6","#fff","#d9ebf5","#aed6fc");
</script>
{% endblock  %}