{% extends "basepage/basepage.html" %}
{% block title %}
        <title>视频列表</title>
{% endblock  %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui/jquery-ui.min.css">
  <script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    function submitForm(){

        $j("#form1")[0].submit();
    }
    $j(function(){
        $j( "#datepicker" ).datepicker();
        $j( "#datepicker" ).datepicker( "setDate", "{{ worklog.date|date:"d/m/Y"}}" );
    });


</script>
     <div class="con_center" >

            <div style="width: 100%;">
            <table class="tablemargin" width="100%" height="100%" border="0" cellspacing="0"
                			cellpadding="0">


            <tr>
                <td valign="top">
                <form id="form1" action="/yzxmanage/update_pre_log/" method="post">
            <table id="worklist" class="table0 tdpadding" width="100%" cellpadding="0" cellspacing="0" border="0">
{#                <tr >#}
{#                <td width="50px" align="center"  >#}
{#                        序号#}
{#                    </td>#}
{#                    <td align="center" >#}
{#                        视频#}
{#                    </td>#}
{#                    <td width="170px" align="center" >#}
{#                        时间#}
{#                    </td>#}
{##}
{#                </tr>#}
                <tr>
                    <td class="btn" colspan="4"  ><input type="text" id="datepicker">{{ worklog.date|date:"D Y-m-d"}}计划工作内容</td>
                </tr>

                <tr>
                    <td class="btn" colspan="4"  ><textarea name="content" style="width:95%;padding: 5px;" rows="15">{{ worklog.pre_content|default_if_none:""|safe }}</textarea></td>
                </tr>
                <tr>
                    <td align="center" colspan="3"><a href="#" onclick="submitForm()"  class="commit_btn" >保存</a>{% csrf_token %} </td>
                </tr>

            </table>
                </form>
            </td>
            </tr>
            </table>
            </div>
    </div>

<script type="text/javascript">
    senfe("worklist","#f6f6f6","#fff","#d9ebf5","#aed6fc");
</script>
{% endblock  %}