{% extends "basepage/basepage.html" %}
{% block title %}
        <title>制定工作计划</title>
{% endblock  %}
{% block content %}

<script type="text/javascript">
    function submitForm(){

        $j("#form1")[0].submit();
    }
    $j(function(){
{#        $j("#datepicker").datepicker();#}
        $j("#datepicker").datepicker({ onSelect: function(dateText, inst) {
            window.location.href='/yzxmanage/update_pre_log/?date='+dateText;
        }});
{#        var datestr = "{{ worklog.date|date:"m/d/Y"}}";#}
{#        if(datestr){#}
{#            $j( "#datepicker" ).datepicker( "setDate", datestr);#}
{#        }else{#}
{#            $j("#datepicker").datepicker("setDate", {{ today| date:"m/d/Y" }});#}
{#        }#}

    });


</script>
     <div class="con_center" >

            <div style="width: 100%;">
            <table class="tablemargin" width="100%" height="100%" border="0" cellspacing="0"
                			cellpadding="0">


            <tr>
                <td valign="top">
                <form id="form1" action="/yzxmanage/update_pre_log/" method="post">
            <table id="worklist" class="table0 tdpadding" width="100%" cellpadding="0" cellspacing="0" border="0">
{#                <tr >#}
{#                <td width="50px" align="center"  >#}
{#                        序号#}
{#                    </td>#}
{#                    <td align="center" >#}
{#                        视频#}
{#                    </td>#}
{#                    <td width="170px" align="center" >#}
{#                        时间#}
{#                    </td>#}
{##}
{#                </tr>#}
                {% if error %}
                    <tr>
                    <td class="btn" colspan="4" style="color:#ff0000;" >{% for err in error %} <p style="color:#ff0000;">{{ err }}</p>{% endfor %}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="btn" colspan="4"  ><input type="text" name="date" id="datepicker" style="width:120px;padding-left: 10px;" value="{{ worklog.date| date:"m/d/Y" }}">&nbsp;计划工作内容</td>
                </tr>

                <tr>
                    <td class="btn" colspan="4"  ><textarea name="pre_content" style="width:95%;padding: 5px;" rows="15">{{ worklog.pre_content|default_if_none:""|safe }}</textarea></td>
                </tr>
                <tr>
                    <td align="center" colspan="3"><a href="#" onclick="submitForm()"  class="commit_btn" >保存</a>{% csrf_token %} </td>
                </tr>

            </table>
                </form>
            </td>
            </tr>
            </table>
            </div>
    </div>

<script type="text/javascript">
    senfe("worklist","#f6f6f6","#fff","#d9ebf5","#aed6fc");
</script>
{% endblock  %}